<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <p>Team Name:<%= @name %></p>
   <p>Coach:<%= @coach %></p>
   <p>Point Gaurd:<%= @pg %></p>
   <p>Shooting Gaurd<%= @sg %></p>
   <p><%= @sf %></p>
   <p><%= @pf %></p>
   <p><%= @c %></p>
 </body>
</html>
